<div class="row">
    <div id="col1" class="col-md-6 col-sm-12">
        <div class="card mt-3" *ngFor='let shoppinglist of shoppinglist;let i = index'>
            <div class="card-header text-center bg-primary text-white">Item: {{shoppinglist.item}}</div>
        </div>


<div class="card-footer">
    <button class="btn btn-sm btn-outline-primary mr-4" (click)='seeDetail(i)'>View</button>
    <app-shoppinglist-detail *ngIf='shoppinglist.viewDetails' [shoppinglist]='shoppinglist'
        (isDone)='purgeShoppingList($event,i)'></app-shoppinglist-detail>
</div>
</div>

<div id="col2" class="col-md-6">
    <app-shoppinglist-form (addShoppinglist)="addNewShoppinglist($event)" ></app-shoppinglist-form>
</div>
</div>