<div class="navbar">
    <a class="active" href="#"><img src="https://img.icons8.com/color/48/000000/home.png"/>home</a> 
    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/shopping-cart.png"/>shop</a> 
    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/add-contact-to-company.png"/>contacts</a> 
  </div>

  <div class="image" id="home">
    <div class="row">
      <div class="col-md-4"></div>
   <div class="col-md-4" id="block"> <p><strong>Welcome to Wigwa's shopping list where you are able to add and delete you shopping as long as you have already done with doing your shopping.Have fan while writing down you shopping list.</strong></p></div>
   <div class="col-md-4"></div>
  </div>
  </div>



















































<app-shoppinglist></app-shoppinglist>